<h1>
    this is todo page.!!!!!!!!!!
</h1>

<!-- <ul>
    <li>
        temp
    </li>
    <li>
        temp
    </li>
    <li>
        temp
    </li>
</ul> -->

<ul>
    {% for todo_item in all_items %}
    <li>
        {{todo_item.content}}
        <form 
            action="/deleteTodo/{{todo_item.id}}"
            style="display: inline;"
            method="post">{% csrf_token%}
            <input type="submit" value="Delete"/>
        </form>
    </li>
    {% endfor %}
</ul>

<form action="/addTodo/" method="post">{% csrf_token%}
    <select name="state">
        <option value="1">Todo</option>
        <option value="2">In-Progress</option>
        <option value="3">Done</option>
    </select>
    <input type="date" name="date_created"/>
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>

</form>